.searchResults {
    border-radius: 10px;
    width: 24rem;
    height: 30rem;
    overflow-y: scroll;
    background-color: rgba(76, 73, 92, 0.5);
    padding: 0 0.8rem;
}

.searchResults h2 {
    font-weight: 400;
    color: #efefef;
}

@media only screen and (max-width: 520px) {
    .searchResults {
      width: 80%;
    }
  }