.searchBar {
    display: flex;
   justify-content: center;
   align-items: center;
   gap: 1.5rem;
   flex-direction: column;
}

.searchBar input {
    width: 300px;
    height: 50px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid #efefef;
    background-color: #efefef;
    font-size: 20px;
}

.searchBar input:focus {
    outline: none;
  }

  .searchButton {
    background-color: #c96567;
    color: #efefef;
    width: 80px;
    height: 30px;
    border-radius: 15px;
    border: none;
    transition: background-color .25s;
}

.searchButton:hover {
    cursor: pointer;
    background-color: #e85a4f;
}

